/*Color Scheme:
teal: #0FA3B1
light seafoam: #D9E5D6
yellow cream: #EADEA4
peach: #F7A072
orange: #FF9B42
*/

/* fonts:
font-family: 'Crimson Text', serif;
font-family: 'Frank Ruhl Libre', serif;
font-family: 'Archivo Black', sans-serif; */


.App {
  text-align: center;
  background-color: #F7A072;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-content {
  background-color: #0FA3B1;
}

.btn {
  padding: 0.8em;
  margin: 0.8em;
}

h1 {
  color: #0FA3B1;
  font-family: 'Archivo Black', sans-serif;
}

h2, h3, h4 {
  font-family: 'Crimson Text', serif; 
  color: #D9E5D6;
}

ul {
  list-style-type: none;
}

.card {
  margin: 2em;
}