/*Color Scheme:
teal: #0FA3B1
light seafoam: #D9E5D6
yellow cream: #EADEA4
peach: #F7A072
orange: #FF9B42
*/

/* fonts:
font-family: 'Crimson Text', serif;
font-family: 'Frank Ruhl Libre', serif;
font-family: 'Archivo Black', sans-serif; */


.App {
  text-align: center;
  background-color: #F7A072;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-content {
  background-color: #0FA3B1;
}

.btn {
  padding: 0.8em;
  margin: 0.8em;
}

h1 {
  color: #0FA3B1;
  font-family: 'Archivo Black', sans-serif;
}

h2, h3, h4 {
  font-family: 'Crimson Text', serif; 
  color: #D9E5D6;
}

ul {
  list-style-type: none;
}

.card {
  margin: 2em;
}

.card .card-header {
  font-family: 'Archivo Black', sans-serif; 
  background-color: #D9E5D6;
  color: #0FA3B1;
}

div.card-body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #0FA3B1;
}

button.btn-info a {
  color: #D9E5D6;
  font-weight: bold;
}

.btn-info {
  font-weight: bold;
  display: inline;
}

